/****************************TicketCard CSS**********************************/
.ticket-card-btn {
  padding: 0px 0px 0px 0px;
}

/****************************TicketList CSS**********************************/
.ticket-list-container {
  position: absolute;
  left: 0px;
  width: 300px;
  padding-top: 0px;
  border-right: 2px solid;
  border-top: 2px solid;
  height: 1000px;
  width: 405px;
  display: flex;
}
.container-spinner {
  position: relative;
  display: flex;
  left: 50%;
  top: 50%;
}

/****************************TicketView CSS**********************************/
.ticket-view-container {
  position: relative;
  border: 1px solid;
  left: 210px;
  margin-top: 10px;
}
.ticket-view-container h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-bottom: 10px;
}
.ticket-view-container h2 {
  position: relative;
  left: 0px;
}
