/****************************TicketCard CSS**********************************/
.ticket-card-btn {
  padding: 0px 0px 0px 0px;
}

.animate-div-ticket-card {
  animation: animate__fadeIn;
  animation-duration: 2s;
}

.delete-button {
  position: absolute;
  display: inline-block;
  left: 90%;
  top: 30%;
  border-radius: 50px;
  background-color: rgba(240, 248, 255, 0);
  border: transparent 1px solid;
}
.delete-button:hover {
  background-color: rgb(131, 131, 131);
}

.delete-button img {
  width: 15px;
  height: 15px;
}
/****************************TicketList CSS**********************************/
.ticket-list-container {
  position: absolute;
  left: -10px;
  width: 300px;
  padding-top: 0px;
  border-right: 2px solid;
  border-top: 2px solid;
  margin-left: 0px;
  margin-right: 0px;
  width: 416px;
  display: flex;
  border-radius: 0px 5px 0px 0px;
  box-shadow: -1px 2px 5px 0px rgba(89, 89, 89, 1);
}
.container-spinner {
  position: relative;
  display: flex;
  left: 50%;
  top: 50%;
}

/****************************TicketView CSS**********************************/
.ticket-view-container {
  position: relative;
  border: 2px solid;
  height: 300px;
  left: 25%;
  margin-top: 10px;
  margin-left: 0px;
  border-radius: 25px;
  box-shadow: -1px 2px 5px 0px rgba(89, 89, 89, 1);
}
.ticket-view-container h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-bottom: 10px;
}
.ticket-view-container h2 {
  position: relative;
  left: 0px;
}
.text-div-ticketview {
  animation: fadeIn;
  animation-duration: 1s;
}
.text-div-not-ticketview {
  display: none;
}
